/* Page layout */
@import url("numberone.css");

body {
    background-color:black;

    margin-right:10%;
    margin-left:10%;
    margin-bottom:5%;
}

.rosecolor {

    font-family: 'NumberOne';
    font-style:normal;
    font-weight:600;

    line-height:2.5em;
    margin-left:.5em;
    margin-right:.05em;
    color:white;
}

.contents {
    margin-top:2%;
    margin-bottom:2%;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    line-height:.67em;
}

.inset {
    margin-left:15%;
    margin-right:15%;
}


.artbox {

 }

.logo {
    line-height:1em;
    margin-bottom:3.5em;
}

.logo a {
    color:inherit;
    text-decoration:none;
}

.contents a {
    text-decoration:none;
}

.inset .node {
    line-height:.75em;
}

.node.script {
    font-style:italic;
}

.goldenspaceV{
    min-width :10px;
    min-height:16.1803398875px;
    max-width :10px;
    max-height:16.1803398875px;
}

.goldenspaceH{
    min-height :10px;
    min-width:16.1803398875px;
    max-height :10px;
    max-width:16.1803398875px;
}


